{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="business-details-section">
  <div class="layout">
    <div>
      <div class="business-menu">
        <button class="mdc-button business-menu-button" id="show-business-menu">
          <i class="fas fa-ellipsis-h mdc-button__icon dots-icon" aria-hidden="true"></i>
        </button>
      </div>
      <div class="mdc-dialog"
           role="alertdialog"
           aria-modal="true"
           aria-labelledby="my-dialog-title"
           aria-describedby="my-dialog-content">
        <div class="mdc-dialog__container">
          <div class="mdc-dialog__surface">
            <div class="mdc-dialog__content" id="my-dialog-content">
              <ul class="mdc-list mdc-list--avatar-list">
                <li class="mdc-list-item">
                  <span class="mdc-list-item__text">
                    <a href="{% url 'admin:portal_business_change' object.id %}">Edit business</a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
      </div>
      <div class="business-category">
        <span class="business-category-text">
          {{ object.sector.label }}
        </span>
        <span>
          <i class="fas fa-building fa-list-icon mdc-theme--primary" aria-hidden="true"></i>
        </span>
      </div>
      <div class="business-name mdc-theme--primary">
        {% firstof object.supplied_name object.registered_name %}
      </div>
      {% if object.description %}
      <div class="business-description">{{ object.description }}</div>
      {% endif %}
    </div>
    <hr>
    <div class="social-sharing">
      <div class="social-sharing-text">
        <p class="sharing-text">Share this business:</p>
      </div>
      <div class="social-sharing-icons">
        <span>
          <a href="https://twitter.com/share?url=https://{{ current_site.domain }}{{ request.get_full_path|iriencode }}" target="_blank">
            <i class="fab fa-twitter fa-list-icon mdc-theme--primary" aria-hidden="true"></i>
          </a>
        </span>
        <span>
          <a href="https://www.facebook.com/sharer/sharer.php?u=https://{{ current_site.domain }}{{ request.get_full_path|iriencode }}" target="_blank">
            <i class="fab fa-facebook fa-list-icon mdc-theme--primary" aria-hidden="true"></i>
          </a>
        </span>
      </div>
    </div>


    <div class="business-profile-cards">
      <details class="mdc-expansion mdc-theme--background mdc-elevation--z2">
        <summary class="mdc-expansion__summary">
          <span class="business-profile-location mdc-list-item">
            <i class="fas fa-map-marker-alt fa-list-icon mdc-theme--primary mdc-list-item__graphic" aria-hidden="true"></i>
            <span class="mdc-expansion__header">{{ object.region }}</span>
          </span>
          <i class="fas fa-chevron-down arrow-down" aria-hidden="true"></i>
        </summary>
        <div class="mdc-expansion__content">
          <span class="mdc-expansion__header address-detail">{% firstof object.supplied_physical_address object.registered_physical_address %}</span>
        </div>
      </details>
      <details class="mdc-theme--background mdc-elevation--z2">
        <summary class="mdc-expansion__summary">
          <span class="business-profile-location mdc-list-item">
            <span class="status-icon-span">
              <img class="status-icon" src="{% static 'images/ellipse.svg' %}" />
            </span>
            <span class="type-header">Status:</span>
            <span class="mdc-expansion__header">{% firstof object.registration_status.label "Status unknown" %}</span>
          </span>
          <div data-tooltip="Indicates the current registration status of the business. A business's status can range from being In business or Deregistered to Closed.">
            <i class="fas fa-info-circle mdc-theme--primary " aria-hidden="true"></i>
          </div>
        </summary>
      </details>
      <details class="mdc-theme--background mdc-elevation--z2">
        <summary class="mdc-expansion__summary">
          <span class="business-profile-location mdc-list-item">
            <i class="fas fa-suitcase fa-list-icon mdc-theme--primary mdc-list-item__graphic" aria-hidden="true"></i>
            <span class="type-header">Type:</span>
            <span class="mdc-expansion__header">{{ object.registered_business_type.label }}</span>
          </span>
          <div data-tooltip="Describes the type of business registered, such as private company and non-profit company for example.">
            <i class="fas fa-info-circle mdc-theme--primary" aria-hidden="true"></i>
          </div>
        </summary>
      </details>
      <details class="mdc-theme--background mdc-elevation--z2">
        <summary class="mdc-expansion__summary">
          <span class="business-profile-location mdc-list-item">
            <i class="fas fa-clipboard fa-list-icon mdc-theme--primary mdc-list-item__graphic" aria-hidden="true"></i>
            <span class="type-header">Reg:</span>
            <span class="mdc-expansion__header">{{ object.registration_number }}</span>
          </span>
          <div data-tooltip="Indicates the registration number of the business.">
            <i class="fas fa-info-circle mdc-theme--primary" aria-hidden="true"></i>
          </div>
        </summary>
      </details>
       {% if request.user.is_staff %}
        <details class="mdc-expansion mdc-theme--background mdc-elevation--z2">
          <summary class="mdc-expansion__summary">
            <span class="business-profile-location mdc-list-item">
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">account_circle</i>
              <span class="type-header">Directors:</span>
              <span class="mdc-expansion__header">{{ object.get_directors | length }}</span>
            </span>
            <i class="material-icons mdc-list-item__graphic arrow-down" aria-hidden="true">keyboard_arrow_down</i>
          </summary>
          <div class="mdc-expansion__content">
              {% for director in object.get_directors %}
            <span class="mdc-expansion__header director-name">{{ director.first_names }} {{ director.surname }}</span>
            {% endfor %}
          </div>
        </details>
      {% endif %}
    </div><!-- end .business-profile-cards -->


    {% if current_site.municipality.add_update_business_url %}
    <div class="business-profile-more-details">
      <p class="more-details-text">Want to add more details?</p>
      <a href="{{ current_site.municipality.add_update_business_url }}">
        <button class="mdc-button more-details-button">
          <span class="mdc-button__label">Claim this business</span>
        </button>
      </a>
    </div><!-- end .business-profile-more-details -->
    {% endif %}
  </div>
</div><!-- end .business-details-section -->

{% endblock content %}
