<h2>Regions {{ region_business_counts | length }}</h2>

<ul>
{% for region in region_business_counts %}
<li>{{ region.label }} ({{ region.business_count }})</li>
{% endfor %}
</ul>


<h2>Sectors {{ sector_business_counts | length }}</h2>

<ul>
{% for sector in sector_business_counts %}
<li>{{ sector.label }} ({{ sector.business_count }})</li>
{% endfor %}
</ul>


<h1>Businesses</h1>
<ul>
{% for business in object_list %}
    <li>{{ business.registered_name }} - {{ business.registration_number }}</li>
{% empty %}
    <li>No businesses.</li>
{% endfor %}
</ul>

{% if is_paginated %}
<div class="pagination">
  <span class="page-links">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}
    <span class="page-current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>
{% endif %}
