{% extends "base.html" %}
{% load param_replace %}
{% load static %}

{% block content %}

{% include 'portal/search_filter_snippet.html' %}

<div class="top-sectors-section">
  <div class="layout">
    <div class="top-sectors">
      <h2 class="mdc-typography--subtitle1 subtitle-top-sectors">Top Sectors</h2>
      <div class="sectors-group">
        {% for sector in top_sectors_counts|slice:":3" %}
          <a class="link-to-top-sector" href="{% url "business_list" %}?{% param_replace page="" sector=sector.label %}">
            <div class="list-sectors-container">
              <div class="list-sectors-layout">
                <li class="top-sectors-list">
                  <summary class="summary-top-sectors">
                    <span class="top-sectors-icon-sector">
                      <span>
                        <i class="fas fa-building fa-list-icon mdc-theme--primary" aria-hidden="true"></i>
                      </span>
                      <div class="sector-and-count">
                        <p class="top-sector-label">
                          {{ sector.label }}
                        </p>
                        <p class="top-sector-count">{{ sector.count }} Businesses</p>
                      </div>
                    </span>
                    <i class="fas fa-arrow-right mdc-list-item__graphic arrow-right" aria-hidden="true"></i>
                  </summary>
                </li>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
