{% extends "base.html" %}

{% block content %}
  <div class="find-business-section muni-theme-background-color">
    <div class="layout">
      <div class="find-business-container">
        <h1 class="mdc-typography--subtitle1 subtitle-find-business">Find a business</h1>
          <div id="custom-templates">
            <div class="search-icon-container">
              <i class="material-icons mdc-text-field__icon search-icon" tabindex="0" role="button">search</i>
            </div>
            <input class="typeahead" type="text" placeholder="Enter business name">
          </div>
      </div>
    </div>
  </div>

{% endblock content %}
