{% load param_replace %}

<form action="{% url "business_list" %}" method="get">
  {% if request.GET.sector %}
  <input type="hidden" name="sector" value="{{ request.GET.sector }}" />
  {% endif %}

  {% if request.GET.region %}
  <input type="hidden" name="region" value="{{ request.GET.region }}" />
  {% endif %}

  Search
  <input
    name="q"
    type="text"
    placeholder="Search..."
    value="{{ search_string }}"
    data-suggestion-url="{% url "api:business-list" %}?{% param_replace q="" sector__label=request.GET.sector region__label=request.GET.region %}"
    />
</form>

<h2>Regions ({{ region_business_counts | length }})</h2>

{% if request.GET.region %}
<a href="{% url "business_list" %}?{% param_replace page="" region="" %}">
  Remove filter
</a>
{% endif %}

<ul>
{% for region in region_business_counts %}
<li>
  <a href="{% url "business_list" %}?{% param_replace page="" region=region.label %}">
    {{ region.label }} ({{ region.count }})
  </a>
</li>
{% endfor %}
</ul>


<h2>Sectors ({{ sector_business_counts | length }})</h2>

{% if request.GET.sector %}
<a href="{% url "business_list" %}?{% param_replace page="" sector="" %}">
  Remove filter
</a>
{% endif %}

<ul>
{% for sector in sector_business_counts %}
<li>
  <a href="{% url "business_list" %}?{% param_replace page="" sector=sector.label %}">
    {{ sector.label }} ({{ sector.count }})
  </a>
</li>
{% endfor %}
</ul>
