{% load param_replace %}

<div class="find-business-section">
  <div class="form-section mdc-theme--primary-bg">
    <form id="custom-templates" action="{% url "business_list" %}" method="get">
      <div class="layout">
        <h1 class="mdc-typography--subtitle1 subtitle-find-business">Find a business</h1>
        <div class="search-icon-container">
          <i class="material-icons mdc-text-field__icon search-icon" tabindex="0" role="button">search</i>
        </div>

        {% if request.GET.region %}
        <input type="hidden" name="region" value="{{ request.GET.region }}" />
        {% endif %}

        {% if request.GET.sector %}
        <input type="hidden" name="sector" value="{{ request.GET.sector }}" />
        {% endif %}

        <input
          class="typeahead"
          id="search-bar"
          type="text"
          placeholder="Enter business name"
          name="q"
          value="{{ search_string }}"
          autocomplete="off"
          data-suggestion-url="{% url "api:business-list" %}?{% param_replace q="" sector="" region="" sector__label=request.GET.sector region__label=request.GET.region %}"
          data-view-all-url="{% url "business_list" %}?{% param_replace sector=request.GET.sector region=request.GET.region q="" %}"
          >
      </div><!-- end .layout -->

      <div class="layout">
        {% include "portal/search_filter_region_snippet.html" %}

        {% include "portal/search_filter_sector_snippet.html" %}


        <a class="link-clear-search" href="{% url "business_list" %}">
          <h4 class="mdc-typography--subtitle2 subtitle-clear-search">Clear search</h4>
        </a>
        <button class="mdc-button mdc-button--raised business-directory-submit">
          <span class="mdc-button__label">Search</span>
        </button>
      </div><!-- end .layout -->
    </form>
  </div>
</div>
