{% load param_replace %}

{% if request.GET.region %}
<div class="business-directory">
  <h2 class="mdc-typography--subtitle1 subtitle-business-directory">Business directory</h2>
  <div class="search-result">
    <summary class="close_summary">
      <div class="icon-and-filter-option">
        <i class="material-icons mdc-list-item__graphic mdc-theme--primary" aria-hidden="true">location_on</i>
        <h3 class="mdc-typography--subtitle2 subtitle-business-directory-category">
          {{ request.GET.region }}
        </h3>
      </div>
      <div class="business-directory-count-arrow">
        <a href="{% url "business_list" %}?{% param_replace page="" region="" %}">
          <i class="material-icons mdc-list-item__graphic close" aria-hidden="true">close</i>
        </a>
      </div>
    </summary>
  </div> <!-- end .search-result -->
</div> <!-- end .business-directory -->
{% else %}
<div class="business-directory">
  <h1 class="mdc-typography--subtitle1 subtitle-business-directory">Business directory</h1>
  <details class="mdc-expansion"> {# Start Location #}
    <summary class="mdc-expansion__summary">
      <div class="icon-and-filter-option">
        <i class="material-icons mdc-list-item__graphic mdc-theme--primary" aria-hidden="true">location_on</i>
        <h3 class="mdc-typography--subtitle2 subtitle-business-directory-category">
          Location
        </h3>
      </div>
      <div class="business-directory-count-arrow">
        <i class="material-icons mdc-list-item__graphic arrow-down" aria-hidden="true">keyboard_arrow_down</i>
      </div>
    </summary>
    {% for region in region_business_counts %}
    <a class="business-directory-categories-and-counts" href="{% url "business_list" %}?{% param_replace page="" region=region.label %}">
      <h3 class="mdc-typography--subtitle2 subtitle-business-directory-category">{{ region.label }}</h3>
      <div class="business-directory-count-arrow">
        <div class="location-count">{{ region.count }}</div>
        <i class="material-icons mdc-list-item__graphic arrow-right" aria-hidden="true">keyboard_arrow_right</i>
      </div>
    </a>
    {% endfor %}
  </details>
</div> <!-- end .business-directory -->
{% endif %}
