{% load param_replace %}

{% if request.GET.region %}
<div class="search-result">
  <summary class="close_summary">
    <div class="icon-and-filter-option">
      <i class="fas fa-map-marker-alt fa-list-icon mdc-theme--primary" aria-hidden="true"></i>
      <h3 class="mdc-typography--subtitle2 subtitle-business-directory-category">
        {{ request.GET.region }}
      </h3>
    </div>
    <div class="business-directory-count-arrow">
      <a href="{% url "business_list" %}?{% param_replace page="" region="" %}">
        <i class="fas fa-times close" aria-hidden="true"></i>
      </a>
    </div>
  </summary>
</div> <!-- end .search-result -->
{% else %}
<details class="mdc-expansion">
  <summary class="mdc-expansion__summary">
    <div class="icon-and-filter-option">
      <i class="fas fa-map-marker-alt fa-list-icon mdc-theme--primary" aria-hidden="true"></i>
      <h3 class="mdc-typography--subtitle2 subtitle-business-directory-category">
        Location
      </h3>
    </div>
    <div class="business-directory-count-arrow">
      <i class="fas fa-chevron-down arrow-down" aria-hidden="true"></i>
    </div>
  </summary>
  {% for region in region_business_counts %}
  <a class="business-directory-categories-and-counts" href="{% url "business_list" %}?{% param_replace page="" region=region.label %}">
    <h3 class="mdc-typography--subtitle2 subtitle-business-directory-category">{{ region.label }}</h3>
    <div class="business-directory-count-arrow">
      <div class="location-count">{{ region.count }}</div>
      <i class="fas fa-arrow-right arrow-right" aria-hidden="true"></i>
    </div>
  </a>
  {% endfor %}
</details>
{% endif %}
