@import "./business-profile.scss";
@import "./business-search-results.scss";
@import "./top-sectors.scss";
@import "./municipality.scss";

@import "@material/typography/mdc-typography";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/icon/mdc-text-field-icon";

body {
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}
.fa-list-icon {
  margin-right: 4px;
  text-align: center;
  font-size: 18px;
}

.navbar {
  @include mdc-top-app-bar-fill-color(#fff);
  @include mdc-top-app-bar-icon-ink-color(#000);
  position: absolute;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2),
              0px 4px 5px rgba(0, 0, 0, 0.12),
              0px 2px 4px rgba(0, 0, 0, 0.14);
}

.main-content {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.layout {
  margin: 0 16px;

  @media screen and (min-width: 960px) {
    width: 100%;
    max-width: 960px;
  }
}

.find-business-section {
  width: 100%;

  @media screen and (min-width: 960px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form-section {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 960px) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.subtitle-find-business {
  color: rgba(255, 255, 255, 0.75);;
  margin: 0;
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.15px;
}

.text-field-business {
  position: static;
  width: 100%;
  @include mdc-text-field-fill-color(#fff);
  @include mdc-text-field-bottom-line-color(rgba(0, 0, 0, 0.12));
  @include mdc-text-field-hover-bottom-line-color(rgba(0, 0, 0, 0.12));
  @include mdc-text-field-line-ripple-color(rgba(0, 0, 0, 0.12));
}

.text-field-business.mdc-text-field--focused {
  @include mdc-text-field-label-color(rgba(0, 0, 0, 0.8));
}

#custom-templates {
  .search-query-input-container {
    position: relative;
  }

  .search-result-links {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
  }

  .text-menu-search, .more-results-search {
    font-size: 14px;
    line-height: 24px;
    padding: 16px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  .more-results-search {
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
  }

  .empty-message {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    line-height: 24px;
    padding-left: 20px;
    padding-right: 12px;
  }

  .search-icon-container {
    padding-top: 17px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .search-icon {
    color: #737373;
    margin-left: 20px;
    font-size: 22px;
  }

  .twitter-typeahead {
    width: 100%;
    position: relative;
    z-index: 1;
  }

  input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 12px;
    border: none;
  }

  .tt-input,
  .tt-hint {
    padding: 16px 12px 16px 48px;
    outline: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
  }

  .tt-hint {
    color: #ccc;
  }

  .tt-menu {
    width: 100%;
    padding: 0;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    position: static !important;
  }

  .tt-suggestion {
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
  }

  .tt-suggestion:hover {
    color: #737373;
  }

  .more-results-search:hover {
    background-color: #0097cf;
  }

  .tt-suggestion p {
    margin: 0;
  }
}

.subtitle-business-directory, .subtitle-top-sectors {
  color: rgba(0, 0, 0, 0.75);;
  font-size: 20px;
  font-weight: 500;
  line-height:23px;
  letter-spacing: 0.15px;
  padding-bottom: 16px;
  margin: 0;
}

.business-directory {
  margin-top:16px;

  .business-directory-categories-and-counts {
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 1px;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }

  .subtitle-business-directory-category, .location-count {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    margin: 0;
  }

  .business-directory-count-arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .arrow-right {
    margin-right: 0;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 20px;
  }

  .drawer-header-image {
    margin-top: 16px;
  }

  .mdc-expansion {
    margin-bottom: 8px;
    display: block;

    &__summary {
      padding: 12px 16px;
      border: 1px solid rgba(0, 0, 0, 0.12);

      .icon-and-filter-option {
        display: flex;
        align-items: center;
      }
    }
  }

  .search-result {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: none;

    .close_summary {
      padding: 12px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 1px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      outline: none;
      position: relative;

      &::-webkit-details-marker {
        display: none;
      }

      .close {
        margin-right: 0;
        color: rgba(0, 0, 0, 0.5);
        margin-left: 20px;
      }

      .icon-and-filter-option {
        display: flex;
        align-items: center;
      }
    }
  }
}

.link-clear-search {
  text-decoration: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

.subtitle-clear-search {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  letter-spacing: 0.25px;
  margin-top: 0;
}

.business-directory-submit {
  width: 100%;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.15px;
  text-transform: none;
  color: #fff;
  border-radius: 1px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2),
              0px 2px 2px rgba(0, 0, 0, 0.12),
              0px 0px 2px rgba(0, 0, 0, 0.14);
}
