@import "@material/button/mdc-button";
@import "./mdc-expansion.scss";

.business-details-section {
  margin-top: 16px;

  @media screen and (min-width: 960px) {
    display: flex;
    justify-content: center;
  }

  .business-category {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .business-category-text {
      font-size: 10px;
      font-weight: 500;
      line-height: 14px;
      letter-spacing: 0.1px;
      color: rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
    }

    .material-icons {
      margin-right: 0;
      color: #4498C6;
    }
  }

  .business-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.15px;
    color: #4498C6;
    margin-bottom: 16px;
  }


  .business-profile-cards {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);

    .business-profile-location {
      padding: 0;

      .status-icon-span  {
        padding: 6px;

        .status-icon {
          margin-right: 4px;
          width: 12px;
          height: 12px;
        }
      }

      .registration-icon-span  {
        .registration-icon {
          margin-right: 8px;
          width: 24px;
          height: 24px;
        }
      }
    }

    .mdc-expansion {
      &__summary {

        [data-tooltip]:before {
          position: absolute;
          top: 0;
          right: 50px;
          background-color: #616161;
          opacity: .9;
          color: white;
          height: 40px;
          border-radius: 2px;
          padding: 4px 8px;
          font-weight: 400;
          font-size: 10px;
          content: attr(data-tooltip);
          visibility: hidden;
          display: flex;

          @media screen and (min-width: 725px) {
            height: 16px;
            top: 22.5%;
          }
        }

        @keyframes fadeIn {
          0% {
            opacity: 0;
            transform: scale(0.5)
          }
          100% {
            opacity: .9;
            transform: scale(1)
          }
        }

        [data-tooltip]:hover {
          cursor: pointer;
        }

        [data-tooltip]:hover:before {
          visibility: visible;
          animation: .30s fadeIn;
        }
      }
    }

    .business-profile-location .material-icons {
      margin-right: 8px;
      color: #4498C6;
    }
  }

  .business-profile-more-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

    .more-details-text {
      font-size: 10px;
      line-height: 20px;
      letter-spacing: 0.25px;
      color: rgba(0, 0, 0, 0.5);
    }

    .more-details-button {
      text-transform: none;
      @include mdc-button-filled-accessible(#f4f4f4);
      @include mdc-button-ink-color(rgba(0, 0, 0, 0.5));
    }
  }

  .address-detail {
    white-space: pre-wrap;
  }
}
