@import "@material/button/mdc-button";
@import "@material/dialog/mdc-dialog";

.business-details-section {
  margin-top: 16px;

  @media screen and (min-width: 960px) {
    display: flex;
    justify-content: center;
  }

  .business-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 16px;
    padding-top: 8px;

    .business-menu-button {
      min-width: 0;
      padding: 8px;
      border-radius: 0%;
      @include mdc-button-container-fill-color(#f4f4f4);
      position: relative;
    }

    .material-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      font-size: 24px;
      color: var(--mdc-theme-text-icon-on-background);
    }

  }

  .mdc-dialog {

    .mdc-dialog__container {
      width: 100%;
      margin: 0 16px;
      margin-top: 150px;

      @media screen and (min-width: 960px) {
        max-width: 960px;
      }

      .mdc-dialog__surface {
        position: absolute;
        top:0;
        right: 0;
        background-color: #FAFAFA;
        min-width: 0;
        border-radius: 1px;
        height: 144px;
        width: 152px;

        .mdc-dialog__content {
          padding: 0px;

          .mdc-list--avatar-list {
            font-size: 14px;
            line-height: 12px;
            letter-spacing: 0.25px;
            color: rgba(0, 0, 0, 0.75);


            .mdc-list-item {
              padding: 12px;
              height: 100%;
            }
          }
        }
      }
    }
  }

  .business-category {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .business-category-text {
      font-size: 10px;
      font-weight: 500;
      line-height: 14px;
      letter-spacing: 0.1px;
      color: rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
    }

    .material-icons {
      margin-right: 0;
      color: #4498C6;
    }
  }

  .business-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.15px;
    color: #4498C6;
    margin-bottom: 16px;
  }


  .business-profile-cards {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);

    .business-profile-location {
      padding: 0;

      .status-icon-span  {
        padding: 6px;

        .status-icon {
          margin-right: 4px;
          width: 12px;
          height: 12px;
        }
      }

      .registration-icon-span  {
        .registration-icon {
          margin-right: 8px;
          width: 24px;
          height: 24px;
        }
      }
    }

    .mdc-expansion {
      &__summary {
        transition: height 100s 0s cubic-bezier(.4, 0, .2, 1);
        padding-right: 16px;
        padding-left: 16px;
        height: 48px;
        display: flex;
        outline: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        align-items: center;
        justify-content: space-between;
        position: relative;

        &::-webkit-details-marker {
          display: none;
        }

        &:focus {
          background-color: #eeeeee;
          &::after {
            color: var(--mdc-theme-text-secondary-on-background);
          }
        }

        .material-icons {
          margin-right: 0;
        }

        .arrow {
          transition: transform 200ms, color 200ms;
        }

        [data-mdc-tooltip]:before {
          position: absolute;
          top: 25%;
          right: 50px;
          background-color: #616161;
          opacity: .9;
          color: white;
          height: 16px;
          border-radius: 2px;
          padding: 4px 8px;
          font-weight: 400;
          font-size: 10px;
          content: attr(data-mdc-tooltip);
          visibility: hidden;
          display: flex;
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
          transform: scale(0.5)
        }
        100% {
          opacity: .9;
          transform: scale(1)
        }
      }

      [data-mdc-tooltip]:hover:before {
          visibility: visible;
          animation: .30s fadeIn;
      }

        .type-header {
          font-size: 12px;
          line-height: 16px;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.5);
          margin-right: 4px;
        }
      }

      &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 12px;
        line-height: 16px;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.5);
        text-transform: capitalize;
      }

      &[open] {
        margin-top: 16px;
        margin-bottom: 16px;
        border-radius: 2px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        background-color: rgba(0, 0, 0, 0.08);

        & .mdc-expansion__summary {
          height: 64px;
        }

        & .arrow {
          transform: rotate(180deg);
        }
      }
    }

    .business-profile-location .material-icons {
      margin-right: 8px;
      color: #4498C6;
    }
  }

  .business-profile-more-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

    .more-details-text {
      font-size: 10px;
      line-height: 20px;
      letter-spacing: 0.25px;
      color: rgba(0, 0, 0, 0.5);
    }

    .more-details-button {
      text-transform: none;
      @include mdc-button-filled-accessible(#f4f4f4);
      @include mdc-button-ink-color(rgba(0, 0, 0, 0.5));
    }
  }
}
