{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Open Business Portal{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% if current_site.municipality.google_analytics_code %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ current_site.municipality.google_analytics_code }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ current_site.municipality.google_analytics_code }}');
    </script>
    {% endif %}

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
    <script src="https://kit.fontawesome.com/7373e11076.js"></script>

    {% block css %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% if css_bundle %}
    <link rel="stylesheet" href="{% static css_bundle %}">
    {% endif %}
    {% endblock %}

  </head>

  <body class="mdc-typography">
    <aside class="mdc-drawer mdc-drawer--dismissible">
      <div class="mdc-drawer__header">
        {% if current_site.municipality.logo %}
        <img class="drawer-header-image"
             src="{% static current_site.municipality.logo %}"
             alt="{{ current_site.municipality.label }} logo"
             />
        {% endif %}
        <h1 class="mdc-drawer__title">{{ current_site.municipality.label }}</h1>
        <h3 class="mdc-drawer__subtitle">Business directory</h3>
      </div>
      <hr class="mdc-list-divider">
      <div class="mdc-drawer__content">
        <nav class="mdc-list">

          {% if current_site.municipality.add_update_business_url %}
          <a class="mdc-list-item" href="{{  current_site.municipality.add_update_business_url }}">
            <i class="fas fa-building-o mdc-list-item__graphic" aria-hidden="true">store</i>
            <span class="mdc-list-item__text">Add my business</span>
          </a>
          {% endif %}

          {% if request.user.is_staff %}
          <a class="mdc-list-item" href="#">
            <i class="fas fa-chevron-down mdc-list-item__graphic" aria-hidden="true"></i>
            <span class="mdc-list-item__text">Download data</span>
          </a>
          {% endif %}

          <a class="mdc-list-item" href="{% url 'municipality_detail' %}">
            <i class="fas fa-phone mdc-list-item__graphic" aria-hidden="true"></i>
            <span class="mdc-list-item__text">Contact municipality</span>
          </a>

          {% if request.user.is_staff %}
          <a class="mdc-list-item"
             href="/admin/"
             aria-selected="true"
             >
            <i class="fas fa-edit mdc-list-item__graphic" aria-hidden="true"></i>
            <span class="mdc-list-item__text">Manage businesses</span>
          </a>
          {% endif %}

          {% if request.user.is_staff %}
          <a class="mdc-list-item"
             href="/admin/logout"
             aria-selected="true"
             >
            <i class="fas fa-sign-out-alt mdc-list-item__graphic" aria-hidden="true"></i>
            <span class="mdc-list-item__text">Logout</span>
          </a>
          {% else %}
          <a class="mdc-list-item"
             href="/admin/"
             aria-selected="true"
             >
            <i class="fas fa-sign-in-alt mdc-list-item__graphic" aria-hidden="true">

            </i>
            <span class="mdc-list-item__text">Admin Login</span>
          </a>
          {% endif %}
        </nav>
      </div>
    </aside>
    <header class="navbar mdc-top-app-bar mdc-top-app-bar--fixed" id="app-bar">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <span class="mdc-top-app-bar__title">
            <a class="mdc-theme--primary" href="/">{{ current_site.municipality.label }}</a>
          </span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
          <button class="demo-menu mdc-top-app-bar__navigation-icon"><i class="fas fa-bars"></i></button>
        </section>
      </div>
    </header>
    <main class="main-content" id="main-content">
      <div class="mdc-top-app-bar--fixed-adjust top-bar">
        {% block content %}

        {% endblock content %}
      </div>
    </main>


    {% block javascript %}

    <script src="{% static 'biz-portal.bundle.js' %}" async></script>

    {% endblock javascript %}
  </body>
</html>
